.edit-container{
    width: 319px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color:rgb(185, 226, 221);
    border-radius: 10px;
    /* border:1px solid rgb(216, 216, 216); */
    border-top: 2px ridge rgb(236, 229, 229);
    border-bottom: 2px ridge rgb(236, 229, 229);
    padding: 5px;
    text-align: center; 
    margin:50px 30px;
    box-sizing: border-box; 
    font-family: 'Lobster Two', cursive;
    cursor:text;
}
.edit-container textarea{
    background-color: whitesmoke;
}
.title{
    height: 25px;
    width: 290px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    
     
}
.image{
    margin: 10px;
    height: 40px;
    text-align: center;

}
.edit-container h2{
    font-size: 20px;
}
.ingredients{
    margin: 10px;
    height: 95px;
}
.directions{
    margin: 10px;
    height: 95px;
}
.button-list{
    display:inline-flex;
    margin: 10px auto;
    font-family: 'Lobster Two', cursive;
}
.save-button{
    font-size: 20px;
    background-color:whitesmoke;
    display: inline-block;
    width: 75px;
    height: 40px;
    cursor: pointer;
  }
.cancel-button{
    /* width: 40%;
    height: 10%; */
    font-size: 20px;
    background-color:whitesmoke;
    margin-left: 40px;
    width: 75px;
    height: 40px;
    cursor: pointer;
}

