.edit-container{
    width: 319px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color:rgb(185, 226, 221);
    border-radius: 10px;
    /* border-top: 2px ridge rgb(236, 229, 229); */
    /* border-bottom: 2px ridge rgb(236, 229, 229); */
    padding: 10px;
    box-sizing: border-box;
    text-align: center; 
    margin:50px 30px;
    box-sizing: border-box; 
    font-family: 'Lobster Two', cursive;
    cursor:text;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.edit-container textarea{
    background-color: whitesmoke;
    min-height: 10px;
    line-height: 20px;
    margin: 10px 5px;
    font-size: 17px;
}

.edit-container h2{
    font-size: 20px;
}

.button-list{
    display:inline-flex;
    margin: 10px auto;
    font-family: 'Lobster Two', cursive;
}
.save-button{
    font-size: 20px;
    background-color:whitesmoke;
    display: inline-block;
    width: 75px;
    height: 40px;
    cursor: pointer;
  }
.cancel-button{
    font-size: 20px;
    background-color:whitesmoke;
    margin-left: 40px;
    width: 75px;
    height: 40px;
    cursor: pointer;
}

