.content{
    width: 319px;
    padding: 10px 20px 15px 20px;
    box-sizing: border-box;
    font-size: 17px;
    color: rgb(44, 37, 37);
    background-color:rgb(185, 226, 221);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    border-radius: 10px;
    position: relative;
    z-index:5;
    line-height: 25px;
}

li:hover{
    background-color:#ffb6b9;
}
.content h2{
    text-align: center;
    background-color:white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0;
}

.content-title{
    margin-bottom: 16px;
    text-align: center;
    font-size: 22px;
    background-color:#ffb6b9;
}

.content-button{
    margin-left: 100px;
    background-color: whitesmoke; 
}
