
.recipe_list_container{
    background-color:#fcf1e1;
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
  
}

.recipe_card{
    width: 319px;
    height: 500px;
    margin:55px 30px;
    box-sizing: border-box;
    background-color:whitesmoke;
    border-top: 1px ridge rgb(236, 229, 229);
    border-bottom: 2px ridge rgb(236, 229, 229);
    border-radius: 10px;
    /* display: flex; */
    flex-wrap: wrap;
    box-sizing: border-box;
}
.recipe_image{
    width: 319px;
    height: 300px;
    border-radius: 10px;
    margin-top: 1px;
    /* border:1px solid rgb(83, 121, 117); */
}
.recipe_title{
    font-weight: bold;
    font-size: 35px;
    color: rgb(39, 38, 38);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Lobster Two', cursive;
    
}
.recipe_list{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.button_list{
    display: flex;
    justify-content: space-around;
   
   
}
button{
    font-size: 27px;
    background-color:rgb(185, 226, 221);
    border:none;
    border-radius: 5px;
    font-family: 'Lobster Two', cursive;
    cursor: pointer;
}


/* .basic_recipe_card{
     

} */